<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" media="screen" type="text/css" title="design" href="css/index.css">

<title>{{  page.title}} </title>
<script src = "js/jquery-1.9.0.min.js" type = "text/javascript"></script>
<script src="js/com.js" type="text/javascript"></script>
</head>

<body>
    <div id = "frame">
        <div id = "main">
            <div id = "con">
            <span class = "title"> Happy Graduation<br/>Zhuang LiuXia
            </span>
            </div>
        </div>
        <div id = "nav">
            <div class = "go">
                <ul class = "slide">
                <li class = "font">Ç</li>
                <li style = "background-color:#ee5656;"><a href = "../index.html">Home</a></li>
                </ul>
            </div>
            <div class = "go">
                <ul class = "slide">
                <li class = "font">9</li>
                <li style = "background-color:#2456b1;"><a href = "../wish.html">Best Wish</a></li>
                </ul>
            </div>
            <div class = "go">
                 <ul class = "slide">
                <li class = "font">A</li>
                <li style = "background-color:#55aa55;"><a href = "../memory.html">Best Memory</a></li>
                </ul>
            </div>
        </div>
        <div id = "footer">
        <span>集杰号（<a href = "http://weibo.com/johnbug">梓煜</a>，<a href = "http://weibo.com/u/1990528884">李亮</a>，<a href = "http://weibo.com/ailingjiahua">嘉华</a>）<br/>祝柳霞师姐毕业快乐</span>
        </div>
    </div>
</body>
</html>

